<li>
    <a class="cp_list" href="detail.html#/10">
        <div class="kj_list_hd">{{'ANHUI_FASTTHREE'|translate}}<span>{{'NO'|translate}}{{ahk3.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="k3_{{ahk3.numsMap.n0}}"></i>
                <i class="k3_{{ahk3.numsMap.n1}}"></i>
                <i class="k3_{{ahk3.numsMap.n2}}"></i>
            </div>
            <div class="mark">{{'ANHUIFASTTHREE_MARK'|translate}}</div>
        </div>
    </a>
</li>