<li>
    <a class="cp_list" href="detail.html#/8">
        <div class="kj_list_hd">{{'GUANGDONG_HAPPY_TEN'|translate}}<span>{{'NO'|translate}}{{dkl10.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="ball_{{dkl10.kl10Map.n0.color}}">{{dkl10.kl10Map.n0.code}}</i>
                <i class="ball_{{dkl10.kl10Map.n1.color}}">{{dkl10.kl10Map.n1.code}}</i>
                <i class="ball_{{dkl10.kl10Map.n2.color}}">{{dkl10.kl10Map.n2.code}}</i>
                <i class="ball_{{dkl10.kl10Map.n3.color}}">{{dkl10.kl10Map.n3.code}}</i>
                <i class="ball_{{dkl10.kl10Map.n4.color}}">{{dkl10.kl10Map.n4.code}}</i>
                <i class="ball_{{dkl10.kl10Map.n5.color}}">{{dkl10.kl10Map.n5.code}}</i>
                <i class="ball_{{dkl10.kl10Map.n6.color}}">{{dkl10.kl10Map.n6.code}}</i>
                <i class="ball_{{dkl10.kl10Map.n7.color}}">{{dkl10.kl10Map.n7.code}}</i>
            </div>
            <div class="mark">{{'GUANGDONGHAPPYTEN_MARK'|translate}}</div>
        </div>
    </a>
</li>