<li>
    <a class="cp_list" href="detail.html#/11">
        <div class="kj_list_hd">{{'HUNAN_HAPPY_TEN'|translate}}<span>{{'NO'|translate}}{{hnkl10.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="ball_{{hnkl10.kl10Map.n0.color}}">{{hnkl10.kl10Map.n0.code}}</i>
                <i class="ball_{{hnkl10.kl10Map.n1.color}}">{{hnkl10.kl10Map.n1.code}}</i>
                <i class="ball_{{hnkl10.kl10Map.n2.color}}">{{hnkl10.kl10Map.n2.code}}</i>
                <i class="ball_{{hnkl10.kl10Map.n3.color}}">{{hnkl10.kl10Map.n3.code}}</i>
                <i class="ball_{{hnkl10.kl10Map.n4.color}}">{{hnkl10.kl10Map.n4.code}}</i>
                <i class="ball_{{hnkl10.kl10Map.n5.color}}">{{hnkl10.kl10Map.n5.code}}</i>
                <i class="ball_{{hnkl10.kl10Map.n6.color}}">{{hnkl10.kl10Map.n6.code}}</i>
                <i class="ball_{{hnkl10.kl10Map.n7.color}}">{{hnkl10.kl10Map.n7.code}}</i>
            </div>
            <div class="mark">{{'HUNANHAPPYTEN_MARK'|translate}}</div>
        </div>
    </a>
</li>