<li>
    <a class="cp_list" href="detail.html#/12">
        <div class="kj_list_hd">{{'BEIJING_HAPPY_EI'|translate}}<span>{{'NO'|translate}}{{kl8.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="ball_red">{{kl8.numsMap.n0}}</i>
                <i class="ball_red">{{kl8.numsMap.n1}}</i>
                <i class="ball_red">{{kl8.numsMap.n2}}</i>
                <i class="ball_red">{{kl8.numsMap.n3}}</i>
                <i class="ball_red">{{kl8.numsMap.n4}}</i>
                <i class="ball_red">{{kl8.numsMap.n5}}</i>
                <i class="ball_red">{{kl8.numsMap.n6}}</i>
                <i class="ball_red">{{kl8.numsMap.n7}}</i>
                <i class="ball_red">{{kl8.numsMap.n8}}</i>
                <i class="ball_red">{{kl8.numsMap.n9}}</i>
                <i class="ball_red">{{kl8.numsMap.n10}}</i>
                <i class="ball_red">{{kl8.numsMap.n11}}</i>
                <i class="ball_red">{{kl8.numsMap.n12}}</i>
                <i class="ball_red">{{kl8.numsMap.n13}}</i>
                <i class="ball_red">{{kl8.numsMap.n14}}</i>
                <i class="ball_red">{{kl8.numsMap.n15}}</i>
                <i class="ball_red">{{kl8.numsMap.n16}}</i>
                <i class="ball_red">{{kl8.numsMap.n17}}</i>
                <i class="ball_red">{{kl8.numsMap.n18}}</i>
                <i class="ball_red">{{kl8.numsMap.n19}}</i>
                <i class="ball_red">{{kl8.numsMap.n20}}</i>
            </div>
        </div>
    </a>
</li>