<li>
    <a class="cp_list" href="detail.html#/15">
        <div class="kj_list_hd">{{'BEIJING_CAR_RACING'|translate}}<span>{{'NO'|translate}}{{pk10.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="pk_{{pk10.oneMap.n0}}">{{pk10.oneMap.n0}}</i>
                <i class="pk_{{pk10.oneMap.n1}}">{{pk10.oneMap.n1}}</i>
                <i class="pk_{{pk10.oneMap.n2}}">{{pk10.oneMap.n2}}</i>
                <i class="pk_{{pk10.oneMap.n3}}">{{pk10.oneMap.n3}}</i>
                <i class="pk_{{pk10.oneMap.n4}}">{{pk10.oneMap.n4}}</i>
                <i class="pk_{{pk10.oneMap.n5}}">{{pk10.oneMap.n5}}</i>
                <i class="pk_{{pk10.oneMap.n6}}">{{pk10.oneMap.n6}}</i>
                <i class="pk_{{pk10.oneMap.n7}}">{{pk10.oneMap.n7}}</i>
                <i class="pk_{{pk10.oneMap.n8}}">{{pk10.oneMap.n8}}</i>
                <i class="pk_{{pk10.oneMap.n9}}">{{pk10.oneMap.n9}}</i>
            </div>
            <div class="mark">{{'BEIJINGCARRACING_MARK'|translate}}</div>
        </div>
    </a>
</li>