<li>
    <a class="cp_list" href="detail.html#/22">
        <div class="kj_list_hd">{{'SHANDONG_ElevenChooseFive'|translate}}<span>{{'NO'|translate}}{{sd11x5.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="ball_red">{{sd11x5.numsMap.n0}}</i>
                <i class="ball_red">{{sd11x5.numsMap.n1}}</i>
                <i class="ball_red">{{sd11x5.numsMap.n2}}</i>
                <i class="ball_red">{{sd11x5.numsMap.n3}}</i>
                <i class="ball_red">{{sd11x5.numsMap.n4}}</i>
            </div>
           <div class="mark">{{'SHANDONGElevenChooseFive_MARK'|translate}}</div>
        </div>
    </a>
</li>