<li>
    <a class="cp_list" href="detail.html#/17">
        <div class="kj_list_hd">{{'CONSTANT_HAPPY'|translate}}<span>{{'NO'|translate}}{{ssl.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="ball_red">{{ssl.numsMap.n0}}</i>
                <i class="ball_red">{{ssl.numsMap.n1}}</i>
                <i class="ball_red">{{ssl.numsMap.n2}}</i>
            </div>
        </div>
    </a>
</li>