<li>
    <a class="cp_list" href="detail.html#/19">
        <div class="kj_list_hd">{{'CHONGQING_LUCKY_FARM'|translate}}<span>{{'NO'|translate}}{{xync.issue}}{{'PERIOD'|translate}}</span></div>
        <div class="kj_list_bd">
            <span class="arrow"></span>
            <div class="ball-wrap">
                <i class="nc_{{xync.numsMap.n0}}"></i>
                <i class="nc_{{xync.numsMap.n1}}"></i>
                <i class="nc_{{xync.numsMap.n2}}"></i>
                <i class="nc_{{xync.numsMap.n3}}"></i>
                <i class="nc_{{xync.numsMap.n4}}"></i>
                <i class="nc_{{xync.numsMap.n5}}"></i>
                <i class="nc_{{xync.numsMap.n6}}"></i>
                <i class="nc_{{xync.numsMap.n7}}"></i>
            </div>
            <div class="mark">{{'CHONGQINGLUCKYFARM_MARK'|translate}}</div>
        </div>
    </a>
</li>
