<!-- 头部 -->
<header>
  <p class="icon back" id="back"><img src="@@IMGURL/live/backIcon.png" /></p>
  <p class="title"><span>{{'MATCHES_DETAILS' | translate}}</span></p>
  <p class="icon" ng-class="{true: 'attention', false: 'abolish'}[attented]" id="attention" isclicked="{{attented}}" ng-click="addToAttention();"></p>
</header>
<!-- banner -->
<div class="banner">
  <div class="teams teams_l">
    <p>
      <img ng-src="http://pic.13322.com/icons/teams/100/{{info.homeTeamInfo.id}}.png" onerror="logoLoadErr(this,'team')"/>
    </p>
    <p>
      <span>{{info.homeTeamInfo.name}}</span>
      <span ng-if="info.homeTeamInfo.rank!=null">[{{info.homeTeamInfo.rank}}]</span>
      <span ng-if="info.homeTeamInfo.rank==null"></span>
    </p>
    <p>
      <span><img src="@@IMGURL/live/cornerKickIcon.png" /></span><i>{{indexInfo.home_corner}}</i>
      <span><img src="@@IMGURL/live/yellowIcon.png" /></span><i>{{indexInfo.home_yc}}</i>
      <span><img src="@@IMGURL/live/redIcon.png" /></span><i>{{indexInfo.home_rc}}</i>
    </p>
  </div>
  <div class="matchStatus_will" ng-if="info.liveStatus==0">
    <p>{{info.matchType1}}</p>
    <p class="matchScore">VS</p>
    <p class="matchTime">{{info.matchType2}}</p>
  </div>
  <div class="matchStatus_ing" ng-if="info.liveStatus!=0">
    <p>{{info.matchType1}}</p>
    <p class="matchScore">{{indexInfo.home_score}}:{{indexInfo.guest_score}}</p>
    <p class="matchTime" ng-if="info.liveStatus==1">{{keepTime}}</p>
    <p class="secs" ng-if="keepTimeStatus"></p>
    <p class="matchTime" ng-if="info.liveStatus!=1">({{indexInfo.home_halfScore}}:{{indexInfo.guest_halfScore}})</p>
  </div>
  <div class="teams teams_r">
    <p>
      <img ng-src="http://pic.13322.com/icons/teams/100/{{info.guestTeamInfo.id}}.png" onerror="logoLoadErr(this,'team')"/>
    </p>
    <p>
      <span>{{info.guestTeamInfo.name}}</span>
      <span ng-if="info.guestTeamInfo.rank!=null">[{{info.guestTeamInfo.rank}}]</span>
      <span ng-if="info.guestTeamInfo.rank==null"></span>
    </p>
    <p>
      <span><img src="@@IMGURL/live/cornerKickIcon.png" /></span><i>{{indexInfo.guest_corner}}</i>
      <span><img src="@@IMGURL/live/yellowIcon.png" /></span><i>{{indexInfo.guest_yc}}</i>
      <span><img src="@@IMGURL/live/redIcon.png" /></span><i>{{indexInfo.guest_rc}}</i>
    </p>
  </div>
</div>


<!-- tab选项 -->
<div class="tabnav">
  <nav class="detailNav">
    <ul>
      <li class="active live">{{'MATCHES_LIVE' | translate}}</li>
      <li class="statistics">{{'MATCHES_STATISTICS' | translate}}</li>
      <li class="analysis">{{'MATCHES_ANALYSIS' | translate}}</li>
      <li class="Asian_p">{{'MATCHES_ASIAN' | translate}}</li>
      <li class="Europe_l">{{'MATCHES_EUROPE' | translate}}</li>
      <li class="Ball_s">{{'MATCHES_BALL' | translate}}</li>
    </ul>
  </nav>
</div>

<!-- 刷新按钮 -->
<!--<div class="refresh" ng-class="{true: 'on', false: ''}[refreshOn]"  ng-click="refreshClick();">
  <img src="@@IMGURL/live/refresh.png" alt="" />
</div>
-->

<!-- 内容块 -->
<div class="container">
  <p class="gap"></p>
  <!-- 直播 -->
  <div class="live_content">

    <div class="live_box" ng-show="timeLives!=null">

    <div class="live_message mLeft">

      <!--<p ng-repeat="matchLiveLeft in matchLiveLefts">-->
        <!--<span style="background: url('@@IMGURL/live/green.png')no-repeat;"></span><span>角球</span>-->
      <!--</p>-->
      <p ng-repeat="timeLive in timeLives" style="bottom: {{timeLive.bottom}}px;" ng-if="timeLive.isHome==1">
        <span style="background: url('{{timeLive.picUrl}}')no-repeat;"></span><span>{{timeLive.msgText}}</span>
      </p>


    </div>

    <div class="live_timeLine">
      <span class="liveOver" ng-if="info.liveStatus=='-1'">over</span>
      <p class="line">
        <span class="lineTop_radius" ng-if="info.liveStatus=='-1'"></span>
        <span class="timeRadius" ng-repeat="timeLive in timeLives" style="bottom: {{timeLive.bottom}}px;">{{timeLive.time}}</span>
        <span class="lineBottom_radius"></span>
      </p>
      <span class="liveStart"><img src="@@IMGURL/live/whistle.png" alt="" /></span>

    </div>

    <div class="live_message mRight">

      <p ng-repeat="timeLive in timeLives" style="bottom: {{timeLive.bottom}}px;" ng-if="timeLive.isHome==0">
        <span style="background: url('{{timeLive.picUrl}}')no-repeat top;"></span><span>{{timeLive.msgText}}</span>
      </p>


    </div>

    </div>

    <!-- 未开 -->
    <div ng-show="!loadingShow">
      <ul class="noData" ng-show="timeLives==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>
    </div>
    <!-- 刷新按钮 -->
    <div class="refresh" ng-class="{true: 'on', false: ''}[refreshOn]"  ng-click="refreshClick('live');">
      <img src="@@IMGURL/live/refresh.png" alt="" />
    </div>

  </div>

      <!-- 统计 -->
  <div class="statistics_content" style="display:none;">
    <ul ng-show="homeStatis!=null">
      <li>
        <p class="statistics_type">
          <span>{{homeStatis.allShots}}</span>
          <span>{{'ALLSHOTS'|translate}}</span>
          <span>{{guestStatis.allShots}}</span>
        </p>
        <p class="statistics_chart">
          <span style="width: {{allShotsCSS.homeCss}};"></span>
          <span style="width: {{allShotsCSS.gusetCss}};"></span>
        </p>
      </li>
      <li>
        <p class="statistics_type">
          <span>{{homeStatis.foul}}</span>
          <span>{{'FOUL'|translate}}</span>
          <span>{{guestStatis.foul}}</span>
        </p>
        <p class="statistics_chart">
          <span style="width: {{foulCSS.homeCss}};"></span>
          <span style="width: {{foulCSS.gusetCss}};"></span>
        </p>
      </li>
      <li>
        <p class="statistics_type">
          <span>{{homeStatis.freeHit}}</span>
          <span>{{'FREEHIT'|translate}}</span>
          <span>{{guestStatis.freeHit}}</span>
        </p>
        <p class="statistics_chart">
          <span style="width: {{freeHitCSS.homeCss}};"></span>
          <span style="width: {{freeHitCSS.gusetCss}};"></span>
        </p>
      </li>
      <li>
        <p class="statistics_type">
          <span>{{homeStatis.lineOut}}</span>
          <span>{{'LINEOUT'|translate}}</span>
          <span>{{guestStatis.lineOut}}</span>
        </p>
        <p class="statistics_chart">
          <span style="width: {{lineOutCSS.homeCss}};"></span>
          <span style="width: {{lineOutCSS.gusetCss}};"></span>
        </p>
      </li>
      <li>
        <p class="statistics_type">
          <span>{{homeStatis.offSide}}</span>
          <span>{{'OFFSIDE'|translate}}</span>
          <span>{{guestStatis.offSide}}</span>
        </p>
        <p class="statistics_chart">
          <span style="width: {{offSideCSS.homeCss}};"></span>
          <span style="width: {{offSideCSS.gusetCss}};"></span>
        </p>
      </li>
      <li ng-if="info.liveStatus!=1">
        <p class="statistics_type">
          <span>{{homeStatis.trapping}}</span>
          <span>{{'TRAPPING'|translate}}</span>
          <span>{{guestStatis.trapping}}</span>
        </p>
        <p class="statistics_chart">
          <span style="width: {{trappingCSS.homeCss}};"></span>
          <span style="width: {{trappingCSS.gusetCss}};"></span>
        </p>
      </li>
    </ul>
    <!-- 未开 -->
    <div ng-show="!loadingShow">
      <ul class="noData" ng-show="homeStatis==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>
    </div>

    <!-- 刷新按钮 -->
    <div class="refresh" ng-class="{true: 'on', false: ''}[refreshOn]"  ng-click="refreshClick('statistics');">
      <img src="@@IMGURL/live/refresh.png" alt="" />
    </div>
  </div>

  <!-- 分析 -->
  <div class="analysis_content" style="display:none;">


      <!-- 积分排名 -->
    <div class="scoreRank">
      <p class="scoreRank_info">{{"SCORE_RANK" | translate}}</p>
      <ul class="scoreRank_data" ng-show="scoreRank.home!=null">
        <li class="scoreRank_title">
          <span>{{"RANK_TEAM" | translate}}</span>
          <span>{{"GP" | translate}}</span>
          <span>{{"SCORE_WIN" | translate}}/{{"SCORE_DRAW" | translate}}/{{"SCORE_LOSE" | translate}}</span>
          <span>{{"win_LOSE_BALL" | translate}}</span>
          <span>{{"NET_WIN" | translate}}</span>
          <span>{{"POINT" | translate}}</span>
        </li>
        <li>
          <span>{{scoreRank.home.rank}}{{scoreRank.home.team}}</span>
          <span>{{scoreRank.home.vsCount}}</span>
          <span>{{scoreRank.home.win}}/{{scoreRank.home.draw}}/{{scoreRank.home.lose}}</span>
          <span>{{scoreRank.home.goal}}/{{scoreRank.home.miss}}</span>
          <span>{{scoreRank.home.goalDiff}}</span>
          <span>{{scoreRank.home.integral}}</span>
        </li>
        <li>
          <span>{{scoreRank.guest.rank}}{{scoreRank.guest.team}}</span>
          <span>{{scoreRank.guest.vsCount}}</span>
          <span>{{scoreRank.guest.win}}/{{scoreRank.guest.draw}}/{{scoreRank.guest.lose}}</span>
          <span>{{scoreRank.guest.goal}}/{{scoreRank.guest.miss}}</span>
          <span>{{scoreRank.guest.goalDiff}}</span>
          <span>{{scoreRank.guest.integral}}</span>
        </li>
      </ul>


      <!-- 未开 -->
      <div ng-show="!loadingShow">
        <ul class="noData" ng-show="scoreRank.home==null">
          <p class="noData_img"></p>
          <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
        </ul>
      </div>



    </div>

      <p class="gap"></p>

       <!-- 历史交锋 -->
    <div class="battleHistory">
      <p class="battleHistory_info">{{"H_FIXTURES" | translate}}</p>
      <ul class="battleHistory_data" ng-if="battleHistorys!=null">
        <li class="battleHistory_summary">
          <p>
            {{analysisHomeTeam}}<i class="win">{{"MATCHES_WIN_N" | translate}}{{battleHistorysCount.winCount}}{{"MATCHES_WIN" | translate}}</i>
            <i class="draw">{{"MATCHES_DRAW_N" | translate}}{{battleHistorysCount.drawCount}}{{"MATCHES_DRAW" | translate}}</i>
            <i class="lose">{{"MATCHES_LOSE_N" | translate}}{{battleHistorysCount.loseCount}}{{"MATCHES_LOSE" | translate}}</i>,
            {{"ENTER" | translate}}<i class="win">{{battleHistorysCount.homeScoreCount}}</i>{{"ENTER_N_BALL" | translate}}
            {{"LOSE" | translate}}<i class="lose">{{battleHistorysCount.guestScoreCount}}</i>{{"LOSE_N_BALL" | translate}}
          </p>
          <p>
            {{"win_RATE" | translate}}<i class="win">{{battleHistorysCount.winPercentage}}</i>,
            {{"BIG_RATE" | translate}}<i class="win">{{battleHistorysCount.bigPercentage}}</i>,
            {{"POINT_RATE" | translate}}<i class="win">{{battleHistorysCount.letPercentage}}</i>
          </p>
        </li>
        <li class="battleHistory_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"MATCHES_SCORE" | translate}}</span>
          <span>{{"VOER_UNDER" | translate}}</span>
          <span>{{"SPERAD" | translate}}</span>
        </li>
        <li ng-repeat="battleHistory in battleHistorys">
          <span>{{battleHistory.time}}</span>
          <span>{{battleHistory.matchType}}</span>
          <span class="{{battleHistory.homeCss}}" ng-if="battleHistory.home!=null">{{battleHistory.home}}</span>
          <span class="{{battleHistory.homeCss}}" ng-if="battleHistory.home==null">&nbsp;</span>
          <span>{{battleHistory.homeScore}}-{{battleHistory.guestScore}}</span>
          <span class="{{battleHistory.guestCss}}" ng-if="battleHistory.guest!=null">{{battleHistory.guest}}</span>
          <span class="{{battleHistory.guestCss}}" ng-if="battleHistory.guest==null">&nbsp;</span>
          <span>{{battleHistory.ctotScore}}{{battleHistory.totText}}</span>
          <span>{{battleHistory.casLetGoal}}{{battleHistory.letText}}</span>
        </li>
      </ul>

      <!-- 未开 -->

      <div ng-show="!loadingShow">
      <ul class="noData" ng-show="battleHistorys==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>
      </div>
    </div>

      <p class="gap"></p>
        <!-- 近期战绩 -->
    <div class="recentRecord">
      <p class="recentRecord_info">{{"RECENT" | translate}}</p>
      <ul class="recentRecord_data" ng-if="homeTeamRecents!=null">
        <li class="recentRecord_summary">
          <p>
            {{analysisHomeTeam}}<i class="win">{{"MATCHES_WIN_N" | translate}}{{homeTeamRecentsCount.winCount}}{{"MATCHES_WIN" | translate}}</i>
            <i class="draw">{{"MATCHES_DRAW_N" | translate}}{{homeTeamRecentsCount.drawCount}}{{"MATCHES_DRAW" | translate}}</i>
            <i class="lose">{{"MATCHES_LOSE_N" | translate}}{{homeTeamRecentsCount.loseCount}}{{"MATCHES_LOSE" | translate}}</i>
            ,{{"ENTER" | translate}}<i class="win">{{homeTeamRecentsCount.homeScoreCount}}</i>{{"ENTER_N_BALL" | translate}}
            {{"LOSE" | translate}}<i class="lose">{{homeTeamRecentsCount.guestScoreCount}}</i>{{"LOSE_N_BALL" | translate}}
          </p>
          <p>
            {{"win_RATE" | translate}}<i class="win">{{homeTeamRecentsCount.winPercentage}}</i>,
            {{"BIG_RATE" | translate}}<i class="win">{{homeTeamRecentsCount.bigPercentage}}</i>,
            {{"POINT_RATE" | translate}}<i class="win">{{homeTeamRecentsCount.letPercentage}}</i>
          </p>
        </li>
        <li class="recentRecord_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"MATCHES_SCORE" | translate}}</span>
          <span>{{"VOER_UNDER" | translate}}</span>
          <span>{{"SPERAD" | translate}}</span>
        </li>
        <li ng-repeat="homeTeamRecent in homeTeamRecents">
          <span>{{homeTeamRecent.time}}</span>
          <span>{{homeTeamRecent.matchType}}</span>
          <span class="{{homeTeamRecent.homeCss}}" ng-if="homeTeamRecent.home!=null">{{homeTeamRecent.home}}</span>
          <span class="{{homeTeamRecent.homeCss}}" ng-if="homeTeamRecent.home==null">&nbsp;</span>
          <span>{{homeTeamRecent.homeScore}}-{{homeTeamRecent.guestScore}}</span>
          <span class="{{homeTeamRecent.guestCss}}" ng-if="homeTeamRecent.guest!=null">{{homeTeamRecent.guest}}</span>
          <span class="{{homeTeamRecent.guestCss}}" ng-if="homeTeamRecent.guest==null">&nbsp;</span>
          <span>{{homeTeamRecent.ctotScore}}{{homeTeamRecent.totText}}</span>
          <span>{{homeTeamRecent.casLetGoal}}{{homeTeamRecent.letText}}</span>
        </li>
      </ul>

      <ul class="recentRecord_data" ng-if="guestTeamRecents!=null">
        <li class="recentRecord_summary">
          <p>
            {{analysisGuestTeam}}<i class="win">{{"MATCHES_WIN_N" | translate}}{{guestTeamRecentsCount.winCount}}{{"MATCHES_WIN" | translate}}</i>
            <i class="draw">{{"MATCHES_DRAW_N" | translate}}{{guestTeamRecentsCount.drawCount}}{{"MATCHES_DRAW" | translate}}</i>
            <i class="lose">{{"MATCHES_LOSE_N" | translate}}{{guestTeamRecentsCount.loseCount}}{{"MATCHES_LOSE" | translate}}</i>,
            {{"ENTER" | translate}}<i class="win">{{guestTeamRecentsCount.homeScoreCount}}</i>{{"ENTER_N_BALL" | translate}}
            {{"LOSE" | translate}}<i class="lose">{{guestTeamRecentsCount.guestScoreCount}}</i>{{"LOSE_N_BALL" | translate}}
          </p>
          <p>
            {{"win_RATE" | translate}}<i class="win">{{guestTeamRecentsCount.winPercentage}}</i>,
            {{"BIG_RATE" | translate}}<i class="win">{{guestTeamRecentsCount.bigPercentage}}</i>,
            {{"POINT_RATE" | translate}}<i class="win">{{guestTeamRecentsCount.letPercentage}}</i>
          </p>
        </li>
        <li class="recentRecord_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"MATCHES_SCORE" | translate}}</span>
          <span>{{"VOER_UNDER" | translate}}</span>
          <span>{{"SPERAD" | translate}}</span>
        </li>
        <li ng-repeat="guestTeamRecent in guestTeamRecents">
          <span>{{guestTeamRecent.time}}</span>
          <span>{{guestTeamRecent.matchType}}</span>
          <span class="{{guestTeamRecent.homeCss}}" ng-if="guestTeamRecent.home!=null">{{guestTeamRecent.home}}</span>
          <span class="{{guestTeamRecent.homeCss}}" ng-if="guestTeamRecent.home==null">&nbsp;</span>
          <span>{{guestTeamRecent.homeScore}}-{{guestTeamRecent.guestScore}}</span>
          <span class="{{guestTeamRecent.guestCss}}" ng-if="guestTeamRecent.guest!=null">{{guestTeamRecent.guest}}</span>
          <span class="{{guestTeamRecent.guestCss}}" ng-if="guestTeamRecent.guest==null">&nbsp;</span>
          <span>{{guestTeamRecent.ctotScore}}{{guestTeamRecent.totText}}</span>
          <span>{{guestTeamRecent.casLetGoal}}{{guestTeamRecent.letText}}</span>
        </li>
      </ul>

      <ul class="noData" ng-show="homeTeamRecents==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>
    </div>

    <p class="gap"></p>
    <!-- 未来比赛 -->
    <div class="futureMatch">
      <p class="futureMatch_info">{{"FUTURE" | translate}}</p>
      <ul class="futureMatch_data" ng-if="homeFutureMatchs!=null">
        <li class="futureMatch_team">{{analysisHomeTeam}}{{"FUTURE" | translate}}</li>
        <li class="futureMatch_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"HOME_NAME" | translate}}</span>
          <span>{{"AWAY_NAME" | translate}}</span>
          <span>{{"INTERVAL" | translate}}</span>
        </li>
        <li ng-repeat="homeFutureMatch in homeFutureMatchs">
          <span>{{homeFutureMatch.date}}</span>
          <span>{{homeFutureMatch.leagueName}}</span>
          <span>{{homeFutureMatch.homeName}}</span>
          <span>{{homeFutureMatch.guestName}}</span>
          <span>{{homeFutureMatch.diffDays}}{{"DAY" | translate}}</span>
        </li>
      </ul>

      <ul class="futureMatch_data" ng-if="guestFutureMatchs!=null">
        <li class="futureMatch_team">{{analysisGuestTeam}}{{"FUTURE" | translate}}</li>
        <li class="futureMatch_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"HOME_NAME" | translate}}</span>
          <span>{{"AWAY_NAME" | translate}}</span>
          <span>{{"INTERVAL" | translate}}</span>
        </li>
        <li ng-repeat="guestFutureMatch in guestFutureMatchs">
          <span>{{guestFutureMatch.date}}</span>
          <span>{{guestFutureMatch.leagueName}}</span>
          <span>{{guestFutureMatch.homeName}}</span>
          <span>{{guestFutureMatch.guestName}}</span>
          <span>{{guestFutureMatch.diffDays}}{{"DAY" | translate}}</span>
        </li>
      </ul>

      <ul class="noData" ng-show="homeFutureMatchs==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>
    </div>

    <p class="gap"></p>
    <!-- 亚盘走势 -->
    <div class="asiaTrend">

      <p class="asiaTrend_info">{{"HDP_TREND" | translate}}</p>
      <ul class="asiaTrend_data" ng-show="homeTeamRecents!=null">
        <li class="asiaTrend_summary">
          <p>
            {{analysisHomeTeam}}
            <i class="win">{{"WIN_DISH" | translate}}{{homeTeamRecentsCount.letWinCount}}{{"WIN_DISH_N" | translate}}</i>
            <i class="lose">{{"LOSE_DISH" | translate}}{{homeTeamRecentsCount.letLoseCount}}{{"LOSE_DISH_N" | translate}}</i>
            <i class="draw">{{"LET_DISH" | translate}}{{homeTeamRecentsCount.letGoCount}}{{"LET_DISH_N" | translate}}</i>
          </p>
        </li>
        <li class="asiaTrend_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"MATCHES_SCORE" | translate}}</span>
          <span>{{"DISH_ROAD" | translate}}</span>
        </li>
        <li ng-repeat="homeTeamRecent in homeTeamRecents">
          <span>{{homeTeamRecent.time}}</span>
          <span>{{homeTeamRecent.matchType}}</span>
          <span class="{{homeTeamRecent.homeCss}}" ng-if="homeTeamRecent.home!=null">{{homeTeamRecent.home}}</span>
          <span class="{{homeTeamRecent.homeCss}}" ng-if="homeTeamRecent.home==null">&nbsp;</span>
          <span>{{homeTeamRecent.homeScore}}-{{homeTeamRecent.guestScore}}</span>
          <span class="{{homeTeamRecent.guestCss}}" ng-if="homeTeamRecent.guest!=null">{{homeTeamRecent.guest}}</span>
          <span class="{{homeTeamRecent.guestCss}}" ng-if="homeTeamRecent.guest==null">&nbsp;</span>
          <span>{{homeTeamRecent.casLetGoal}}{{homeTeamRecent.letText}}</span>
        </li>
      </ul>

      <ul class="asiaTrend_data" ng-show="guestTeamRecents!=null">
        <li class="asiaTrend_summary">
          <p>
            {{analysisGuestTeam}}
            <i class="win">{{"WIN_DISH" | translate}}{{guestTeamRecentsCount.letWinCount}}{{"WIN_DISH_N" | translate}}</i>
            <i class="lose">{{"LOSE_DISH" | translate}}{{guestTeamRecentsCount.letLoseCount}}{{"LOSE_DISH_N" | translate}}</i>
            <i class="draw">{{"LET_DISH" | translate}}{{guestTeamRecentsCount.letGoCount}}{{"LET_DISH_N" | translate}}</i>
          </p>
        </li>
        <li class="asiaTrend_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"MATCHES_SCORE" | translate}}</span>
          <span>{{"DISH_ROAD" | translate}}</span>
        </li>
        <li ng-repeat="guestTeamRecent in guestTeamRecents">
          <span>{{guestTeamRecent.time}}</span>
          <span>{{guestTeamRecent.matchType}}</span>
          <span class="{{guestTeamRecent.homeCss}}" ng-if="guestTeamRecent.home!=null">{{guestTeamRecent.home}}</span>
          <span class="{{guestTeamRecent.homeCss}}" ng-if="guestTeamRecent.home==null">&nbsp;</span>
          <span>{{guestTeamRecent.homeScore}}-{{guestTeamRecent.guestScore}}</span>
          <span class="{{guestTeamRecent.guestCss}}"  ng-if="guestTeamRecent.guest!=null">{{guestTeamRecent.guest}}</span>
          <span class="{{guestTeamRecent.guestCss}}" ng-if="guestTeamRecent.guest==null">&nbsp;</span>
          <span>{{guestTeamRecent.casLetGoal}}{{guestTeamRecent.letText}}</span>
        </li>
      </ul>

      <ul class="noData" ng-show="homeTeamRecents==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>

    </div>

    <p class="gap"></p>
    <!-- 大小球 -->
    <div class="sizeTrend">

      <p class="sizeTrend_info">{{"OVER_UNDER" | translate}}</p>
      <ul class="sizeTrend_data" ng-show="homeTeamRecents!=null">
        <li class="sizeTrend_summary">
          <p>
            {{analysisHomeTeam}}
            <i class="win">{{"BIG_N_BALL" | translate}}{{homeTeamRecentsCount.bigBigCount}}{{"BIG_N_BALL_N" | translate}}</i>
            <i class="lose">{{"SMALL_N_BALL" | translate}}{{homeTeamRecentsCount.bigSmallCount}}{{"SMALL_N_BALL_N" | translate}}</i>
            <i class="draw">{{"LET_DISH" | translate}}{{homeTeamRecentsCount.bigGoCount}}{{"LET_DISH_N" | translate}}</i>
          </p>
        </li>
        <li class="sizeTrend_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"MATCHES_SCORE" | translate}}</span>
          <span>{{"VOER_UNDER" | translate}}</span>
        </li>
        <li ng-repeat="homeTeamRecent in homeTeamRecents">
          <span>{{homeTeamRecent.time}}</span>
          <span>{{homeTeamRecent.matchType}}</span>
          <span class="{{homeTeamRecent.homeCss}}" ng-if="homeTeamRecent.home!=null">{{homeTeamRecent.home}}</span>
          <span class="{{homeTeamRecent.homeCss}}" ng-if="homeTeamRecent.home==null">&nbsp;</span>
          <span>{{homeTeamRecent.homeScore}}-{{homeTeamRecent.guestScore}}</span>
          <span class="{{homeTeamRecent.guestCss}}" ng-if="homeTeamRecent.guest!=null">{{homeTeamRecent.guest}}</span>
          <span class="{{homeTeamRecent.guestCss}}" ng-if="homeTeamRecent.guest==null">&nbsp;</span>
          <span>{{homeTeamRecent.ctotScore}}{{homeTeamRecent.totText}}</span>
        </li>
      </ul>

      <ul class="sizeTrend_data" ng-show="guestTeamRecents!=null">
        <li class="sizeTrend_summary">
          <p>
            {{analysisGuestTeam}}
            <i class="win">{{"BIG_N_BALL" | translate}}{{guestTeamRecentsCount.bigBigCount}}{{"BIG_N_BALL_N" | translate}}</i>
            <i class="lose">{{"SMALL_N_BALL" | translate}}{{guestTeamRecentsCount.bigSmallCount}}{{"SMALL_N_BALL_N" | translate}}</i>
            <i class="draw">{{"LET_DISH" | translate}}{{guestTeamRecentsCount.bigGoCount}}{{"LET_DISH_N" | translate}}</i>
          </p>
        </li>
        <li class="sizeTrend_title">
          <span>{{"MATCHES_TIME" | translate}}</span>
          <span>{{"MATCHES_DETAIL" | translate}}</span>
          <span>{{"MATCHES_SCORE" | translate}}</span>
          <span>{{"VOER_UNDER" | translate}}</span>
        </li>
        <li ng-repeat="guestTeamRecent in guestTeamRecents">
          <span>{{guestTeamRecent.time}}</span>
          <span>{{guestTeamRecent.matchType}}</span>
          <span class="{{guestTeamRecent.homeCss}}">{{guestTeamRecent.home}}</span>
          <span>{{guestTeamRecent.homeScore}}-{{guestTeamRecent.guestScore}}</span>
          <span class="{{guestTeamRecent.guestCss}}">{{guestTeamRecent.guest}}</span>
          <span>{{guestTeamRecent.ctotScore}}{{guestTeamRecent.totText}}</span>
        </li>
      </ul>

      <ul class="noData" ng-show="homeTeamRecents==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>

    </div>

    <p class="gap"></p>

    <!-- 攻防对比 -->
    <div class="attackDefense">
      <div class="attackDefense_info">
        <p>{{"OOFENSE_DEFENSE" | translate}}</p>
        <p ng-show="attackDefense!=null"><span>{{"O_U" | translate}}: <i>{{attackDefense.sizeHandicap}}</i></span></p>
      </div>
      <p class="teamName" ng-show="attackDefense!=null">
        <span>{{"HOME_NAME" | translate}}</span><span>{{"AWAY_NAME" | translate}}</span>
      </p>
      <ul class="attackDefense_data" ng-show="attackDefense!=null">
        <li>
          <p>
              <span>{{"BALL" | translate}}</span>
              <span>{{attackDefense.homeFieldGoal}}</span>
              <span>{{"GOALS_MATCH" | translate}}</span>
          </p>

          <p>
            <span>{{"BALL" | translate}}</span>
            <span>{{attackDefense.guestFieldLose}}</span>
            <span>{{"LOSE_MATCH" | translate}}</span>
          </p>

        </li>
        <li>
          <p>
            <span>{{"BALL" | translate}}</span>
            <span>{{attackDefense.homeFieldLose}}</span>
            <span>{{"LOSE_MATCH" | translate}}</span>
          </p>
          <p>
            <span>{{"BALL" | translate}}</span>
            <span>{{attackDefense.guestFieldGoal}}</span>
            <span>{{"GOALS_MATCH" | translate}}</span>
          </p>

        </li>
      </ul>

      <ul class="noData" ng-show="attackDefense==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>
    </div>

    <p class="gap"></p>

    <!-- 心水推荐 -->
    <div class="recommend">
      <div class="recommend_info">
        <p>{{"RECOMMEND" | translate}}</p>
      </div>

      <div class="recommend_data">
        <div ng-bind-html="recommend" ng-show="recommend!=null"></div>
      </div>

      <ul class="noData" ng-show="recommend==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>

    </div>




  </div>

  <!-- 亚盘 -->
  <div class="odd_content" style="display:none;">
    <!-- 列表 -->
    <ul class="asian_p">
      <li class="asian_p_title">
        <p class="company">{{'MATCHES_COMPANIES'|translate}}</p>
        <p class="homeTeam" ng-if="flag">{{'HOME_TEAM'|translate}}</p>
        <p class="homeTeam" ng-if="!flag">{{'BIG_BALL'|translate}}</p>


        <p class="handicap"  ng-if="asian_self">{{'MATCHES_HANDICAP'|translate}}</p>
        <p class="handicap"  ng-if="BIG_self">{{'O_U'|translate}}</p>


        <p class="handicap" ng-if="europe_self">{{'COMPANY_DRAWN'|translate}}</p>



        <p class="visitingTeam" ng-if="flag">{{'AWAY_TEAM'|translate}}</p>
        <p class="visitingTeam" ng-if="!flag">{{'SMALL_BALL'|translate}}</p>
      </li>
      <li class="asian_p_data" ng-repeat="oddData in oddDatas" ng-click="oddClick($event)"  ng-show="oddDatas!=null">
        <a style="display: none;">{{oddData.id}}</a>
        <p class="company">
              <span>
                <i><img src="@@IMGURL/live/triangle.png" /></i>
                <i>{{oddData.name}}</i>
              </span>
              <span>
                <i>{{'IMMEDIATELY_LIVE'|translate}}</i>
                <i>{{'MATCHES_INITIAL'|translate}}</i>
              </span>
        </p>
        <p class="homeTeam">
          <span class="{{oddData.details[1].homeCss}}">{{oddData.details[1].homeOdd}}</span>
          <span>{{oddData.details[0].homeOdd}}</span>
        </p>
        <p class="handicap">
          <span class="{{oddData.details[1].handCss}}">{{oddData.details[1].hand}}</span>
          <span>{{oddData.details[0].hand}}</span>
        </p>
        <p class="visitingTeam">
          <span class="{{oddData.details[1].guestCss}}">{{oddData.details[1].guestOdd}}</span>
          <span>{{oddData.details[0].guestOdd}}</span>
        </p>
      </li>
    </ul>

    <!-- 未开 -->
    <div ng-show="!loadingShow">
      <ul class="noData" ng-show="oddDatas==null">
        <p class="noData_img"></p>
        <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
      </ul>
    </div>



    <!-- 详细 -->
    <div class="asian_p_detail" style="display: none;">
      <p class="asian_p_names">
        <span ng-repeat="oddData in oddDatas" ng-click="oddNamesClick($event)" id="{{oddData.id}}">{{oddData.name}}</span>
        <a>Back</a>
      </p>

      <ul class="asian_p_info">
        <li>
          <span>{{'MATCHES_TIME'|translate}}</span>
          <span ng-if="flag">{{'HOME_TEAM'|translate}}</span>
          <span ng-if="!flag">{{'BIG_BALL'|translate}}</span>


          <span ng-if="asian_self">{{'MATCHES_HANDICAP'|translate}}</span>
          <span ng-if="BIG_self">{{'O_U'|translate}}</span>
          <span ng-if="europe_self">{{'COMPANY_DRAWN'|translate}}</span>


          <!-- <span>{{'MATCHES_HANDICAP'|translate}}</span> -->




          <span ng-if="flag">{{'AWAY_TEAM'|translate}}</span>
          <span ng-if="!flag">{{'SMALL_BALL'|translate}}</span>
        </li>
      </ul>

      <ul class="asian_p_info">
        <!--<p>-->
          <!--{{oddDetailData.date}}-->
        <!--</p>-->
        <li ng-repeat="ci in comInfoMatches">
          <span  ng-if="$index==(comInfoMatches.length-1)">{{'COMPANY_CP'|translate}}</span>
          <span  ng-if="$index!=(comInfoMatches.length-1)">{{ci.dayInfo}}</span>
          <span class="{{ci.leftUpClass}}">{{ci.homeOdd}}</span>
          <span class="{{ci.middleClass}}">{{ci.handVal}}</span>
          <span class="{{ci.rightUpClass}}">{{ci.guestOdd}}</span>
        </li>
      </ul>


    </div>
  </div>


  <!-- 欧赔 -->
  <!--<div class="europe_l_content" style="display:none;">-->

  <!-- 大小球 -->
  <!--<div class="ball_s_content" style="display:none;">-->

  <div class="loading" ng-show="loadingShow"></div>

</div>

<!--提示-->
<div class="coll_most" ng-show="maxAttentionMatchesCountWarn">
  <h2>{{'ATTENTION_SORRY' | translate}}</h2>
  <p translate="ATTENTION_SORRY_TEXT" translate-values="{'maxAttentionMatchCount': '<em>{{maxAttentionMatchCount}}</em>'}"></p>
  <p><button ng-click="attentionWarnCloseClick($event)">{{'BUTTON_CLOSE' | translate}}</button></p>
</div>
