<div class="header">

  <div class="header_bg"><img ng-src="{{headbg.bgUrl}}"></div>

  <div class="time">

    <span>{{"NO_DAY" |translate}}</span>

    <i id="day_ten">{{day_ten}}</i>
    <i id="day_one">{{day_one}}</i>

    <span>{{"DAY" |translate}}</span>


  </div>

  <div class="download" ng-show="invalid"><a href="/qrcode.html"><img ng-src="{{headbg.btnUrl}}"></a></div>

</div>


<div class="content_bg" id="header_up_tab">

  <div class="group_header_up">

    <div class="tab_left" ng-click="tab_left_Click($event)"><img src="../images/uefaeuro/tab_left.png"></div>
    <div class="tab-scroll" >
      <div class="list">
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}1{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}2{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}3{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}4{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}5{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}6{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}7{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}8{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}9{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}10{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}11{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}12{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}13{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}14{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}15{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}16{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}17{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}18{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}19{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}20{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}21{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}22{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}23{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}24{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}25{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}26{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}27{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}28{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}29{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}30{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}31{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}32{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}33{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}34{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}35{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}36{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}37{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}38{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}39{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}40{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}41{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}42{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}43{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}44{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}45{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}46{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}47{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}48{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}49{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}50{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}51{{"FIELD" | translate}}</a>
      </div>
    </div>
    <div class="tab_right" ng-click="tab_right_Click($event)"><img src="../images/uefaeuro/tab_right.png"></div>

  </div>

</div>

<div class="content_bg">


  <div class="group_header_down">

    <div class="group_header_country">
      <div class="group_up_country" ng-if="matchList!=null">
        <img ng-src="../images/uefaeuro/group/{{matchList.homeTeamId}}.png" ng-if="matchList.homeTeamId!=1234567">
        <img  src="../images/uefaeuro/group/team.png" ng-if="matchList.homeTeamId==1234567">
        <p>{{matchList.homeTeam}}</p>
      </div>

      <div class="group_up_country" ng-if="matchList==null">
        <img  src="../images/uefaeuro/group/team.png">
        <p>&nbsp</p>
      </div>




      <div class="group_up_country">
        <div class="vs">
          <span class="vs_span_left">{{homeScore}}</span>
          <div  class="vs_m">VS</div>
          <span class="vs_span_right">{{guestScore}}</span>
        </div>
        <span class="remark_span" ng-if="remark!=null">{{matchList.remark}}</span>
        <span class="remark_span" ng-if="remark==null">&nbsp</span>
        <span class="time_span" ng-if="matchTime!=null">{{matchTime}}</span>
        <span class="time_span" ng-if="matchTime==null">&nbsp</span>
      </div>

      <div class="group_up_country" ng-if="matchList!=null">
        <img ng-src="../images/uefaeuro/group/{{matchList.guestTeamId}}.png" ng-if="matchList.guestTeamId!=1234567">
        <img  src="../images/uefaeuro/group/team.png" ng-if="matchList.guestTeamId==1234567">
        <p>{{matchList.guestTeam}}</p>
      </div>

      <div class="group_up_country" ng-if="matchList==null">
        <img  src="../images/uefaeuro/group/team.png">
        <p>&nbsp</p>
      </div>

    </div>

    <div class="good" ng-show="matchList.matchId!=null">
      <div style="display: none;" id="thirdId">{{matchList.matchId}}</div>
      <div class="good_pic" ng-click="updLike_Click('homeLike');"><img src="../images/uefaeuro/red_good.png"/></div>
      <div id="good_line">
        <div id="blueline" class="line"></div>
        <div id="redline" class="line" ></div>
        <div id="whiteline" class="line"></div>
        <span class="red_good_span">{{updLikes_home}}</span>
        <span class="blue_good_span">{{updLikes_guest}}</span>
      </div>
      <div class="good_pic" ng-click="updLike_Click('guestLike');"><img src="../images/uefaeuro/blue_good.png"/></div>
    </div>

    <ul class="newsList" ng-if="!android">

      <li ng-repeat="new in news" ng-if="new.displaytype!='2'">
        <a class="a-lk" href="information.html?infoUrl={{new.infoUrl}}">
                <span class="u-img">
                  <img ng-src="{{new.picUrl}}" alt="">
                </span>
          <div class="detail">
            <strong>{{new.title}}</strong>

            <div class="info" ng-if="new.subTitle==null">
              <span class="new_data">{{new.lastModifyDate}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

            <div class="info" ng-if="new.subTitle!=null">
              <span class="recommend">{{"RECOMMEND" | translate}}</span>
              <span class="resource">{{new.subTitle}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

          </div>
        </a>
      </li>


    </ul>


    <ul class="newsList" ng-if="android">

      <li ng-repeat="new in news" ng-if="new.displaytype!='2'">
        <a class="a-lk" href="{{new.infoUrl}}">
                <span class="u-img">
                  <img ng-src="{{new.picUrl}}" alt="">
                </span>
          <div class="detail">
            <strong>{{new.title}}</strong>

            <div class="info" ng-if="new.subTitle==null">
              <span class="new_data">{{new.lastModifyDate}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

            <div class="info" ng-if="new.subTitle!=null">
              <span class="recommend">{{"RECOMMEND" | translate}}</span>
              <span class="resource">{{new.subTitle}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

          </div>
        </a>
      </li>


    </ul>



  </div>
</div>


<div class="content_bg">

  <div class="title_center">·{{"EIGHT_FINALS" | translate}}·</div>

  <div class="country_match">


    <div class="country_left">

      <div class="country_left_l">

        <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[0].homeTeamStatus]">
          <img ng-src="../images/uefaeuro/country/{{eighth[0].homeTeamId}}.png"><span>{{eighth[0].homeTeam}}</span>
        </div>
        <div class="country_middle"></div>
        <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[0].guestTeamStatus]">
          <img ng-src="../images/uefaeuro/country/{{eighth[0].guestTeamId}}.png"><span>{{eighth[0].guestTeam}}</span>
        </div>
      </div>

      <div class="country_left_r">
        <img src="../images/uefaeuro/match_left.png">
      </div>

    </div>


    <div class="country_right">

      <div class="country_right_r">

        <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[1].homeTeamStatus]">
          <img ng-src="../images/uefaeuro/country/{{eighth[1].homeTeamId}}.png"><span>{{eighth[1].homeTeam}}</span>
        </div>
        <div class="country_middle"></div>
        <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[1].guestTeamStatus]">
          <img ng-src="../images/uefaeuro/country/{{eighth[1].guestTeamId}}.png"><span>{{eighth[1].guestTeam}}</span>
        </div>
      </div>

      <div class="country_right_l">
        <img src="../images/uefaeuro/match_right.png">
      </div>



    </div>


  </div>
  <div id="panelEighth">
    <div class="country_match">


      <div class="country_left">

        <div class="country_left_l">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[2].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[2].homeTeamId}}.png"><span>{{eighth[2].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[2].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[2].guestTeamId}}.png"><span>{{eighth[2].guestTeam}}</span>
          </div>
        </div>

        <div class="country_left_r">
          <img src="../images/uefaeuro/match_left.png">
        </div>

      </div>


      <div class="country_right">

        <div class="country_right_r">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[3].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[3].homeTeamId}}.png"><span>{{eighth[3].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[3].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[3].guestTeamId}}.png"><span>{{eighth[3].guestTeam}}</span>
          </div>
        </div>

        <div class="country_right_l">
          <img src="../images/uefaeuro/match_right.png">
        </div>



      </div>


    </div>
    <div class="country_match">


      <div class="country_left">

        <div class="country_left_l">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[4].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[4].homeTeamId}}.png"><span>{{eighth[4].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[4].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[4].guestTeamId}}.png"><span>{{eighth[4].guestTeam}}</span>
          </div>
        </div>

        <div class="country_left_r">
          <img src="../images/uefaeuro/match_left.png">
        </div>

      </div>


      <div class="country_right">

        <div class="country_right_r">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[5].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[5].homeTeamId}}.png"><span>{{eighth[5].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[5].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[5].guestTeamId}}.png"><span>{{eighth[5].guestTeam}}</span>
          </div>
        </div>

        <div class="country_right_l">
          <img src="../images/uefaeuro/match_right.png">
        </div>



      </div>


    </div>
    <div class="country_match">


      <div class="country_left">

        <div class="country_left_l">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[6].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[6].homeTeamId}}.png"><span>{{eighth[6].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[6].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[6].guestTeamId}}.png"><span>{{eighth[6].guestTeam}}</span>
          </div>
        </div>

        <div class="country_left_r">
          <img src="../images/uefaeuro/match_left.png">
        </div>

      </div>


      <div class="country_right">

        <div class="country_right_r">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[7].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[7].homeTeamId}}.png"><span>{{eighth[7].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[eighth[7].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{eighth[7].guestTeamId}}.png"><span>{{eighth[7].guestTeam}}</span>
          </div>
        </div>

        <div class="country_right_l">
          <img src="../images/uefaeuro/match_right.png">
        </div>

      </div>

    </div>
  </div>

  <div class="drop">

    <div class="drop_bg"><img src="../images/uefaeuro/drop_bg.png"></div>

    <div class="drop_control" id="drop_control_eighth">

      <div class="drop_open" id="drop_open_eighth">
      <div class="drop_words"><span>{{"OPEN" | translate}}</span></div>
      <div class="drop_pic"><img src="../images/uefaeuro/drop_down.png"></div>
      </div>

      <div class="drop_close" id="drop_close_eighth">
      <div class="drop_words"><span>{{"CLOSE" | translate}}</span></div>
      <div class="drop_pic"><img src="../images/uefaeuro/drop_up.png"></div>
      </div>

    </div>
  </div>





    <div class="title_center">·{{"FOUR_FINALS" | translate}}·</div>


    <div ng-show="fourth==null">
    <div class="country_match">


      <div class="country_left">

        <div class="country_left_l">

          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W37</span>
          </div>
          <div class="country_middle"></div>
          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W38</span>
          </div>
        </div>

        <div class="country_left_r">
          <img src="../images/uefaeuro/match_left.png">
        </div>

      </div>


      <div class="country_right">

        <div class="country_right_r">

          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W39</span>
          </div>
          <div class="country_middle"></div>
          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W40</span>
          </div>
        </div>

        <div class="country_right_l">
          <img src="../images/uefaeuro/match_right.png">
        </div>



      </div>


    </div>

    <div class="panelFourth">
    <div class="country_match">


        <div class="country_left">

          <div class="country_left_l">

            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W41</span>
            </div>
            <div class="country_middle"></div>
            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W42</span>
            </div>
          </div>

          <div class="country_left_r">
            <img src="../images/uefaeuro/match_left.png">
          </div>

        </div>


        <div class="country_right">

          <div class="country_right_r">

            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W43</span>
            </div>
            <div class="country_middle"></div>
            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W44</span>
            </div>
          </div>

          <div class="country_right_l">
            <img src="../images/uefaeuro/match_right.png">
          </div>



        </div>


      </div>
    </div>
    </div>

    <div ng-show="fourth!=null">
    <div class="country_match">


      <div class="country_left">

        <div class="country_left_l" ng-show="fourth[0]!=null">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[0].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{fourth[0].homeTeamId}}.png" ng-if="fourth[0].homeTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="fourth[0].homeTeamId==1234567">
            <span>{{fourth[0].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[0].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{fourth[0].guestTeamId}}.png" ng-if="fourth[0].guestTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="fourth[0].guestTeamId==1234567">
            <span>{{fourth[0].guestTeam}}</span>
          </div>


        </div>


        <div class="country_left_l" ng-show="fourth[0]==null">

          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W41</span>
          </div>
          <div class="country_middle"></div>
          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W42</span>
          </div>


        </div>

        <div class="country_left_r">
          <img src="../images/uefaeuro/match_left.png">
        </div>

      </div>


      <div class="country_right">

        <div class="country_right_r" ng-show="fourth[1]!=null">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[1].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{fourth[1].homeTeamId}}.png" ng-if="fourth[1].homeTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="fourth[1].homeTeamId==1234567">
            <span>{{fourth[1].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[1].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{fourth[1].guestTeamId}}.png" ng-if="fourth[1].guestTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="fourth[1].guestTeamId==1234567">
            <span>{{fourth[1].guestTeam}}</span>
          </div>
        </div>

        <div class="country_right_r" ng-show="fourth[1]==null">
        <div class="country_final">
          <img src="../images/uefaeuro/un_country.png"><span>W43</span>
        </div>
        <div class="country_middle"></div>
        <div class="country_final">
          <img src="../images/uefaeuro/un_country.png"><span>W44</span>
        </div>
        </div>

        <div class="country_right_l">
          <img src="../images/uefaeuro/match_right.png">
        </div>



      </div>


    </div>

    <div class="panelFourth">
      <div class="country_match">


        <div class="country_left">

          <div class="country_left_l" ng-show="fourth[2]!=null">

            <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[2].homeTeamStatus]">
              <img ng-src="../images/uefaeuro/country/{{fourth[2].homeTeamId}}.png" ng-if="fourth[2].homeTeamId!=1234567">
              <img src="../images/uefaeuro/un_country.png" ng-if="fourth[2].homeTeamId==1234567">
              <span>{{fourth[2].homeTeam}}</span>
            </div>
            <div class="country_middle"></div>
            <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[2].guestTeamStatus]">
              <img ng-src="../images/uefaeuro/country/{{fourth[2].guestTeamId}}.png" ng-if="fourth[2].guestTeamId!=1234567">
              <img src="../images/uefaeuro/un_country.png" ng-if="fourth[2].guestTeamId==1234567">
              <span>{{fourth[2].guestTeam}}</span>
            </div>

          </div>


          <div class="country_left_l" ng-show="fourth[2]==null">

            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W45</span>
            </div>
            <div class="country_middle"></div>
            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W46</span>
            </div>


          </div>




          <div class="country_left_r">
            <img src="../images/uefaeuro/match_left.png">
          </div>

        </div>


        <div class="country_right">

          <div class="country_right_r" ng-show="fourth[3]!=null">

            <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[3].homeTeamStatus]">
              <img ng-src="../images/uefaeuro/country/{{fourth[3].homeTeamId}}.png" ng-if="fourth[3].homeTeamId!=1234567">
              <img src="../images/uefaeuro/un_country.png" ng-if="fourth[3].homeTeamId==1234567">
              <span>{{fourth[3].homeTeam}}</span>
            </div>
            <div class="country_middle"></div>
            <div ng-class="{true: 'country_final', false: 'country_final status'}[fourth[3].guestTeamStatus]">
              <img ng-src="../images/uefaeuro/country/{{fourth[3].guestTeamId}}.png" ng-if="fourth[3].guestTeamId!=1234567">
              <img src="../images/uefaeuro/un_country.png" ng-if="fourth[3].guestTeamId==1234567">
              <span>{{fourth[3].guestTeam}}</span>
            </div>
          </div>


          <div class="country_right_r" ng-show="fourth[3]==null">
            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W47</span>
            </div>
            <div class="country_middle"></div>
            <div class="country_final">
              <img src="../images/uefaeuro/un_country.png"><span>W48</span>
            </div>
          </div>

          <div class="country_right_l">
            <img src="../images/uefaeuro/match_right.png">
          </div>



        </div>


      </div>
    </div>
    </div>







  <div class="drop">

    <div class="drop_bg"><img src="../images/uefaeuro/drop_bg.png"></div>

    <div class="drop_control" id="drop_control_fourth">

      <div class="drop_open" id="drop_open_fourth">
        <div class="drop_words"><span>{{"OPEN" | translate}}</span></div>
        <div class="drop_pic"><img src="../images/uefaeuro/drop_down.png"></div>
      </div>

      <div class="drop_close" id="drop_close_fourth">
        <div class="drop_words"><span>{{"CLOSE" | translate}}</span></div>
        <div class="drop_pic"><img src="../images/uefaeuro/drop_up.png"></div>
      </div>

    </div>
  </div>






    <div class="title_center">·{{"HALF_FINALS" | translate}}·</div>

  <div ng-if="second==null">
    <div class="country_match">

      <div class="country_left">

        <div class="country_left_l">

          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W45</span>
          </div>
          <div class="country_middle"></div>
          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W46</span>
          </div>
        </div>

        <div class="country_left_r">
          <img src="../images/uefaeuro/match_left.png">
        </div>

      </div>


      <div class="country_right">

        <div class="country_right_r">

          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W47</span>
          </div>
          <div class="country_middle"></div>
          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W48</span>
          </div>
        </div>

        <div class="country_right_l">
          <img src="../images/uefaeuro/match_right.png">
        </div>



      </div>


    </div>

  </div>
  <div ng-if="second!=null">
    <div class="country_match">

      <div class="country_left">

        <div class="country_left_l" ng-show="second[0]!=null">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[second[0].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{second[0].homeTeamId}}.png" ng-if="second[0].homeTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="second[0].homeTeamId==1234567">
            <span>{{second[0].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[second[0].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{second[0].guestTeamId}}.png" ng-if="second[0].guestTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="second[0].guestTeamId==1234567">
            <span>{{second[0].guestTeam}}</span>
          </div>
        </div>


        <div class="country_left_l" ng-show="second[0]==null">

          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W45</span>
          </div>
          <div class="country_middle"></div>
          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W46</span>
          </div>
        </div>



        <div class="country_left_r">
          <img src="../images/uefaeuro/match_left.png">
        </div>

      </div>


      <div class="country_right">

        <div class="country_right_r" ng-show="second[1]!=null">

          <div ng-class="{true: 'country_final', false: 'country_final status'}[second[1].homeTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{second[1].homeTeamId}}.png" ng-if="second[1].homeTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="second[1].homeTeamId==1234567">
            <span>{{second[1].homeTeam}}</span>
          </div>
          <div class="country_middle"></div>
          <div ng-class="{true: 'country_final', false: 'country_final status'}[second[1].guestTeamStatus]">
            <img ng-src="../images/uefaeuro/country/{{second[1].guestTeamId}}.png" ng-if="second[1].guestTeamId!=1234567">
            <img src="../images/uefaeuro/un_country.png" ng-if="second[1].guestTeamId==1234567">
            <span>{{second[1].guestTeam}}</span>
          </div>
        </div>


        <div class="country_right_r" ng-show="second[1]==null">

          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W47</span>
          </div>
          <div class="country_middle"></div>
          <div class="country_final">
            <img src="../images/uefaeuro/un_country.png"><span>W48</span>
          </div>
        </div>

        <div class="country_right_l">
          <img src="../images/uefaeuro/match_right.png">
        </div>



      </div>


    </div>

  </div>


  <div class="title_center">·{{"FINALS" | translate}}·</div>

  <div ng-if="final==null">
  <div class="country_match">
      <div class="country_final_l">
        <div class="country_final">
          <img src="../images/uefaeuro/un_country.png"><span>W49</span>
        </div>
      </div>
      <div class="country_final_m"><img src="../images/uefaeuro/euro.png"></div>
      <div class="country_final_r">
        <div class="country_final">
          <img src="../images/uefaeuro/un_country.png"><span>W50</span>
        </div>
      </div>
      <div class="clear"></div>
  </div>
  </div>

  <div ng-if="final!=null">
    <div class="country_match">
      <div class="country_final_l">
        <div ng-class="{true: 'country_final', false: 'country_final status'}[final[0].homeTeamStatus]">
          <img ng-src="../images/uefaeuro/country/{{final[0].homeTeamId}}.png" ng-if="final[0].homeTeamId!=1234567">
          <img src="../images/uefaeuro/un_country.png" ng-if="final[0].homeTeamId==1234567">
          <span>{{final[0].homeTeam}}</span>
        </div>
      </div>
      <div class="country_final_m"><img src="../images/uefaeuro/euro.png"></div>
      <div class="country_final_r">
        <div ng-class="{true: 'country_final', false: 'country_final status'}[final[0].guestTeamStatus]">
          <img ng-src="../images/uefaeuro/country/{{final[0].guestTeamId}}.png" ng-if="final[0].guestTeamId!=1234567">
          <img src="../images/uefaeuro/un_country.png" ng-if="final[0].guestTeamId==1234567">
          <span>{{final[0].guestTeam}}</span>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>


</div>





<div class="content_bg" id="c_odds">
  <div class="title">·{{"WIN_ODDS" | translate}}·</div>

  <div id="content">

    <div class="line_up"><img src="../images/uefaeuro/line_up.png"/></div>


    <!--<table cellspacing="0" id="table_header">-->
    <!--<tr>-->

    <!--</tr>-->
    <!--</table>-->

    <!--<div class="tb_scroll" id="group_tb_scroll">-->

    <table cellspacing="0" id="odds">

      <tr>
        <td>{{"RANK" | translate}}</td>
        <td>{{"TEAM" | translate}}</td>
        <td>{{"ODDS" | translate}}</td>
        <td>{{"OLD_RANK" | translate}}</td>
      </tr>

      <tr ng-repeat="oddList in oddLists">
        <td>{{$index+1}}</td>
        <td>{{oddList.teamName}}</td>
        <td>{{oddList.odds}}</td>
        <td>{{oddList.oldRank}}</td>
      </tr>

    </table>

    <!--</div>-->


  </div>


</div>

<div class="f_bg">
  <p class="f_bg_link">
    <a href="http://m.13322.com/qrcode.html">{{"FOOTER_CLIENT_DOWN" | translate}}</a><span>|</span>
    <a href="http://live.13322.com/?from=m">{{"FOOTER_PC_VISIT"| translate}}</a>
  </p>
</div>

