<div class="header">

  <div class="header_bg"><img src="{{headbg.bgUrl}}"></div>

  <div class="time">

    <span>{{"NO_DAY" |translate}}</span>

    <i id="day_ten">{{day_ten}}</i>
    <i id="day_one">{{day_one}}</i>

    <span>{{"DAY" |translate}}</span>


  </div>

  <div class="download" ng-show="invalid"><a href="/qrcode.html"><img src="{{headbg.btnUrl}}"></a></div>

</div>


<div class="content_bg" id="header_up_tab">

  <div class="group_header_up">

    <div class="tab_left" ng-click="tab_left_Click($event)"><img src="../images/uefaeuro/tab_left.png"></div>
    <div class="tab-scroll" >
      <div class="list">
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}1{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}2{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}3{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}4{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}5{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}6{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}7{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}8{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}9{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}10{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}11{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}12{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}13{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}14{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}15{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}16{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}17{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}18{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}19{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}20{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}21{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}22{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}23{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}24{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}25{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}26{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}27{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}28{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}29{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}30{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}31{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}32{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}33{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}34{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}35{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}36{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}37{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}38{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}39{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}40{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}41{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}42{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}43{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}44{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}45{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}46{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}47{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}48{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}49{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}50{{"FIELD" | translate}}</a>
        <a ng-click="list_a_Click($event)">{{"NO_FIELD" | translate}}51{{"FIELD" | translate}}</a>
      </div>
    </div>
    <div class="tab_right" ng-click="tab_right_Click($event)"><img src="../images/uefaeuro/tab_right.png"></div>

  </div>

</div>

<div class="content_bg">


  <div class="group_header_down">

    <div class="group_header_country">
      <div class="group_up_country">
        <img ng-if="matchList== null" src="../images/uefaeuro/group/team.png">
        <img ng-if="matchList!= null" src="../images/uefaeuro/group/{{matchList.homeTeamId}}.png">
        <p>{{matchList.homeTeam}}</p></div>

      <div class="group_up_country">
        <div class="vs">
          <span class="vs_span_left">{{homeScore}}</span>
          <div  class="vs_m">VS</div>
          <span class="vs_span_right">{{guestScore}}</span>
        </div>
        <span class="time_span">{{matchTime}}</span>
      </div>

      <div class="group_up_country">
        <img ng-if="matchList== null" src="../images/uefaeuro/group/team.png">
        <img ng-if="matchList!= null" src="../images/uefaeuro/group/{{matchList.guestTeamId}}.png">
        <p>{{matchList.guestTeam}}</p>
      </div>
    </div>

    <div class="good">
      <div style="display: none;" id="thirdId">{{matchList.matchId}}</div>
      <div class="good_pic" ng-click="updLike_Click('homeLike');"><img src="../images/uefaeuro/red_good.png"/></div>
      <div id="good_line">
        <div id="blueline" class="line"></div>
        <div id="redline" class="line" ></div>
        <div id="whiteline" class="line"></div>
        <span class="red_good_span">{{updLikes_home}}</span>
        <span class="blue_good_span">{{updLikes_guest}}</span>
      </div>
      <div class="good_pic" ng-click="updLike_Click('guestLike');"><img src="../images/uefaeuro/blue_good.png"/></div>
    </div>

    <ul class="newsList" ng-if="!android">

      <li ng-repeat="new in news" ng-if="new.displaytype!='2'">
        <a class="a-lk" href="information.html?infoUrl={{new.infoUrl}}">
                <span class="u-img">
                  <img src="{{new.picUrl}}" alt="">
                </span>
          <div class="detail">
            <strong>{{new.title}}</strong>

            <div class="info" ng-if="new.subTitle==null">
              <span class="new_data">{{new.lastModifyDate}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

            <div class="info" ng-if="new.subTitle!=null">
              <span class="recommend">{{"RECOMMEND" | translate}}</span>
              <span class="resource">{{new.subTitle}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

          </div>
        </a>
      </li>


    </ul>


    <ul class="newsList" ng-if="android">

      <li ng-repeat="new in news" ng-if="new.displaytype!='2'">
        <a class="a-lk" href="{{new.infoUrl}}">
                <span class="u-img">
                  <img src="{{new.picUrl}}" alt="">
                </span>
          <div class="detail">
            <strong>{{new.title}}</strong>

            <div class="info" ng-if="new.subTitle==null">
              <span class="new_data">{{new.lastModifyDate}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

            <div class="info" ng-if="new.subTitle!=null">
              <span class="recommend">{{"RECOMMEND" | translate}}</span>
              <span class="resource">{{new.subTitle}}</span>
              <span class="icon">{{new.infoSource}}</span>
            </div>

          </div>
        </a>
      </li>


    </ul>



  </div>
</div>


<div class="content_bg">

  <div class="title">·{{"GROUP_INTEGRATION" | translate}}·</div>

  <div class="group_div">
    <div class="in_radius">{{"NO_GROUP" | translate}} A {{"GROUP" | translate}}</div>
    <div class="group_li">
      <table class="group_table">
        <tr>
          <td>{{"RANKING" | translate}}</td>
          <td class="group_table_first_td">{{"TEAM" | translate}}</td>
          <td>{{"WIN" | translate}}/{{"LEVEL" | translate}}/{{"NEGATIVE" | translate}}</td>
          <td>{{"GOAL" | translate}}/{{"LOSE" | translate}}/{{"DIFFGOAL" | translate}}</td>
          <td>{{"INTEGRAL" | translate}}</td>
        </tr>

        <tr ng-repeat="teamA in teamAs">
          <td>{{$index+1}}</td>
          <td class="group_table_td"><img src="../images/uefaeuro/country/{{teamA.id}}.png">{{teamA.teamName}}</td>
          <td>{{teamA.win}}/{{teamA.level}}/{{teamA.negative}}</td>
          <td>{{teamA.goal}}/{{teamA.lose}}/{{teamA.diffGoal}}</td>
          <td>{{teamA.integral}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="group_div">
    <div class="in_radius">{{"NO_GROUP" | translate}} B {{"GROUP" | translate}}</div>
    <div class="group_li">
      <table class="group_table">
        <tr>
          <td>{{"RANKING" | translate}}</td>
          <td class="group_table_first_td">{{"TEAM" | translate}}</td>
          <td>{{"WIN" | translate}}/{{"LEVEL" | translate}}/{{"NEGATIVE" | translate}}</td>
          <td>{{"GOAL" | translate}}/{{"LOSE" | translate}}/{{"DIFFGOAL" | translate}}</td>
          <td>{{"INTEGRAL" | translate}}</td>
        </tr>

        <tr ng-repeat="teamB in teamBs">
          <td>{{$index+1}}</td>
          <td class="group_table_td"><img src="../images/uefaeuro/country/{{teamB.id}}.png">{{teamB.teamName}}</td>
          <td>{{teamB.win}}/{{teamB.level}}/{{teamB.negative}}</td>
          <td>{{teamB.goal}}/{{teamB.lose}}/{{teamB.diffGoal}}</td>
          <td>{{teamB.integral}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="group_div">
    <div class="in_radius">{{"NO_GROUP" | translate}} C {{"GROUP" | translate}}</div>
    <div class="group_li">
      <table class="group_table">
        <tr>
          <td>{{"RANKING" | translate}}</td>
          <td class="group_table_first_td">{{"TEAM" | translate}}</td>
          <td>{{"WIN" | translate}}/{{"LEVEL" | translate}}/{{"NEGATIVE" | translate}}</td>
          <td>{{"GOAL" | translate}}/{{"LOSE" | translate}}/{{"DIFFGOAL" | translate}}</td>
          <td>{{"INTEGRAL" | translate}}</td>
        </tr>

        <tr ng-repeat="teamC in teamCs">
          <td>{{$index+1}}</td>
          <td class="group_table_td"><img src="../images/uefaeuro/country/{{teamC.id}}.png">{{teamC.teamName}}</td>
          <td>{{teamC.win}}/{{teamC.level}}/{{teamC.negative}}</td>
          <td>{{teamC.goal}}/{{teamC.lose}}/{{teamC.diffGoal}}</td>
          <td>{{teamC.integral}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="group_div">
    <div class="in_radius">{{"NO_GROUP" | translate}} D {{"GROUP" | translate}}</div>
    <div class="group_li">
      <table class="group_table">
        <tr>
          <td>{{"RANKING" | translate}}</td>
          <td class="group_table_first_td">{{"TEAM" | translate}}</td>
          <td>{{"WIN" | translate}}/{{"LEVEL" | translate}}/{{"NEGATIVE" | translate}}</td>
          <td>{{"GOAL" | translate}}/{{"LOSE" | translate}}/{{"DIFFGOAL" | translate}}</td>
          <td>{{"INTEGRAL" | translate}}</td>
        </tr>
        <tr ng-repeat="teamD in teamDs">
          <td>{{$index+1}}</td>
          <td class="group_table_td"><img src="../images/uefaeuro/country/{{teamD.id}}.png">{{teamD.teamName}}</td>
          <td>{{teamD.win}}/{{teamD.level}}/{{teamD.negative}}</td>
          <td>{{teamD.goal}}/{{teamD.lose}}/{{teamD.diffGoal}}</td>
          <td>{{teamD.integral}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="group_div">
    <div class="in_radius">{{"NO_GROUP" | translate}} E {{"GROUP" | translate}}</div>
    <div class="group_li">
      <table class="group_table">
        <tr>
          <td>{{"RANKING" | translate}}</td>
          <td class="group_table_first_td">{{"TEAM" | translate}}</td>
          <td>{{"WIN" | translate}}/{{"LEVEL" | translate}}/{{"NEGATIVE" | translate}}</td>
          <td>{{"GOAL" | translate}}/{{"LOSE" | translate}}/{{"DIFFGOAL" | translate}}</td>
          <td>{{"INTEGRAL" | translate}}</td>
        </tr>
        <tr ng-repeat="teamE in teamEs">
          <td>{{$index+1}}</td>
          <td class="group_table_td"><img src="../images/uefaeuro/country/{{teamE.id}}.png">{{teamE.teamName}}</td>
          <td>{{teamE.win}}/{{teamE.level}}/{{teamE.negative}}</td>
          <td>{{teamE.goal}}/{{teamE.lose}}/{{teamE.diffGoal}}</td>
          <td>{{teamE.integral}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="group_div">
    <div class="in_radius">{{"NO_GROUP" | translate}} F {{"GROUP" | translate}}</div>
    <div class="group_li">
      <table class="group_table">
        <tr>
          <td>{{"RANKING" | translate}}</td>
          <td class="group_table_first_td">{{"TEAM" | translate}}</td>
          <td>{{"WIN" | translate}}/{{"LEVEL" | translate}}/{{"NEGATIVE" | translate}}</td>
          <td>{{"GOAL" | translate}}/{{"LOSE" | translate}}/{{"DIFFGOAL" | translate}}</td>
          <td>{{"INTEGRAL" | translate}}</td>
        </tr>
        <tr ng-repeat="teamF in teamFs">
          <td>{{$index+1}}</td>
          <td class="group_table_td"><img src="../images/uefaeuro/country/{{teamF.id}}.png">{{teamF.teamName}}</td>
          <td>{{teamF.win}}/{{teamF.level}}/{{teamF.negative}}</td>
          <td>{{teamF.goal}}/{{teamF.lose}}/{{teamF.diffGoal}}</td>
          <td>{{teamF.integral}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>



<div class="content_bg" id="c_odds">
  <div class="title">·{{"WIN_ODDS" | translate}}·</div>

  <div id="content">

    <div class="line_up"><img src="../images/uefaeuro/line_up.png"/></div>


    <!--<table cellspacing="0" id="table_header">-->
      <!--<tr>-->

      <!--</tr>-->
    <!--</table>-->

    <!--<div class="tb_scroll" id="group_tb_scroll">-->

      <table cellspacing="0" id="odds">

        <tr>
          <td>{{"RANK" | translate}}</td>
          <td>{{"TEAM" | translate}}</td>
          <td>{{"ODDS" | translate}}</td>
          <td>{{"OLD_RANK" | translate}}</td>
        </tr>

        <tr ng-repeat="oddList in oddLists">
          <td>{{$index+1}}</td>
          <td>{{oddList.teamName}}</td>
          <td>{{oddList.odds}}</td>
          <td>{{oddList.oldRank}}</td>
        </tr>

      </table>

    <!--</div>-->


  </div>


</div>

<div class="f_bg">
  <p class="f_bg_link">
    <a href="http://m.13322.com/qrcode.html">{{"FOOTER_CLIENT_DOWN" | translate}}</a><span>|</span>
    <a href="http://live.13322.com/?from=m">{{"FOOTER_PC_VISIT"| translate}}</a>
  </p>
</div>

