<!-- 头部 -->
<header>
<p class="title">
  <a href="/data">
    <span class="integral-back"><img src="../images/data/preMno.png" /></span>
  </a>
  <span class="integral-name">{{leagueTimess.abb}}</span>
  <span class="integral-time">
    <span class="defaultTime">{{defaultTime}}</span>
    <span></span>
  </span>
  <span class="choiceTips">
    <span class="choiceTips_time" ng-click="choiceTime($event)" ng-repeat="leagueTimes in leagueTimess.leagueDate">{{leagueTimes.date}}</span>
  </span>
</p>
<div class="tabBtn">
  <p class="active" ng-click="changeSlide($event)">{{"DATA_INTEGRAL" | translate}}</p>
  <p ng-click="changeSlide($event)">{{"DATA_SCHEDULE" | translate}}</p>
</div>
</header>
<aside class="timeMask"></aside>
<!-- 内容块 -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- 积分榜 -->
      <div class="swiper-slide">
        <ul class="group" ng-repeat="langueScore in langueScores"  ng-show="langueScores!=null">
          <p class="content-gap"></p>
          <li class="group-title group-list">
            <p class="teamInfo" ng-if="langueScore.group=='empty'">&nbsp;</p>
            <p class="teamInfo" ng-if="langueScore.group!='empty'">{{langueScore.group}}</p>
            <p class="matchInfo">
              <span class="matchCount">{{"DATA_MATCHCOUNT" | translate}}</span>
              <span class="winInfo">{{"DATA_WINCOUNT" | translate}}/{{"DATA_TIECOUNT" | translate}}/{{"DATA_DEFEATCOUNT" | translate}}</span>
              <span class="loseCount">{{"DATA_GAINANDLOSS" |translate}}</span>
              <span class="winCount">{{"DATA_ENDWIN" |translate}}</span>
              <span class="matchScore">{{"DATA_SCORE" |translate}}</span>
            </p>
          </li>
          <li class="group-list" ng-repeat="list in langueScore.list">
            <p class="teamInfo">
              <span class="teamNo">{{$index+1}}</span>
              <span class="teamPic"><img ng-src="http://pic.13322.com/icons/teams/100/{{list.tid}}.png" /></span>
              <span class="teamName">{{list.name}}</span>
            </p>
            <p class="matchInfo">
              <span class="matchCount">{{list.round}}</span>
              <span class="winInfo">{{list.win}}/{{list.equ}}/{{list.fail}}</span>
              <span class="loseCount">{{list.goal}}/{{list.loss}}</span>
              <span class="winCount">{{list.abs}}</span>
              <span class="matchScore">{{list.score}}</span>
            </p>
          </li>
        </ul>

        <ul class="noData" ng-show="langueScoresShow">
            <p class="loading_img"></p>
        </ul>

        <div ng-show="!langueScoresShow">
          <ul class="noData" ng-show="langueScores==null">
              <p class="noData_img"></p>
              <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
          </ul>
        </div>
      </div>
      <!-- 赛程 -->
      <div class="swiper-slide schedule" id="schedule">
        <ul class="group" ng-repeat="schedule in schedules" ng-show="schedules!=null">
          <p class="schedule-gap" ng-if="schedule.group!='empty'">{{schedule.group}}</p>
          <li class="group-list" ng-repeat="schedulelist in schedule.list">
            <p class="matchTime"><span>{{schedulelist.rDate}}</span></p>
            <p class="matchTeam">
              <span>{{schedulelist.homeName}}</span>
              <span ng-if="schedulelist.matchResult==null" style="color:#ccc">-</span>
              <span ng-if="schedulelist.matchResult!=null">{{schedulelist.matchResult}}</span>
              <span>{{schedulelist.guestName}}</span>
            </p>
          </li>
        </ul>

        <ul class="noData" ng-show="schedulesShow">
            <p class="loading_img"></p>
        </ul>

        <div ng-show="!schedulesShow">
          <ul class="noData" ng-show="schedules==null">
              <p class="noData_img"></p>
              <span class="noData_txt">{{"DATA_NODATA" | translate}}</span>
          </ul>
        </div>

      </div>
    </div>
  </div>
<!-- 联赛选择按钮-->
<div class="selectBtn" ng-show="roundDatas!=null">
  <p class="preBtn" ng-click="subtractRound()">
    <img src="../images/data/preS.png" />
  </p>
  <p class="randNum">
    <span ng-click="alertRound()" ng-if="type!=2">{{"DATA_LEAGUEROUNDS" | translate}}<i>{{defaultRound}}</i>{{"DATA_LEAGUEROUNDS_NO" | translate}}</span>
    <span ng-click="alertRound()" ng-if="type==2"><i>{{defaultRound}}</i></span>
  </p>
  <p class="nextBtn" ng-click="addRound()">
    <img src="../images/data/nextS.png" />
  </p>
</div>

<!-- 遮罩层 -->
<aside class="mask"></aside>
<!-- 弹出层 -->
<aside class="choiceRound">
  <p>{{"DATA_CHOICEROUND" | translate}}</p>
  <ul ng-if="type!=2">
    <li ng-repeat="roundData in roundDatas" ng-click="choiceRound($event)"  ng-class="{true: 'choiced', false: ''}[roundData.current]">
      {{"DATA_ROUNDS" | translate}}<span>{{roundData.round}}</span>{{"DATA_ROUNDS_NO" | translate}}
    </li>
  </ul>
  <ul ng-if="type==2">
    <li ng-repeat="roundData in roundDatas" ng-click="choiceRound($event)"  ng-class="{true: 'choiced', false: ''}[roundData.current]">
      <span>{{roundData.round}}</span>
    </li>
  </ul>

</aside>
