
<div data-role="page" id="pageone" height="100%">

  <div id="sort_content show">
    <!--设置开始-->
    <div class="asort" style="display:block">
      <div class="hd">
        <div class="wrap tx_c">
          <span class="title">{{'LANGUAGE_SWITCHING' | translate}}</span>
          <div class="fr cse" ng-click="languageSetClose($event)">
            <i class="close"></i>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="set_box" id="set_box">
        <div class="lan_box">
          <!-- 国家选项 -->
          <h2 class="set_h2 first" style="padding-left:15px;">
            {{'COUNTRY_SWITCHING' | translate}}
          </h2>
          <div class="radio_box">
            <form>
              <ul id="coun_radio_box">
                <li ng-repeat="countryItem in countryItems"><input
                  type="radio" name="country" value="{{countryItem.value}}"
                  ng-checked="countryItem.checked" /> <label
                  ng-click="countryChangeClick($event)"
                  ng-class="{true: 'choice checked', false: 'choice'}[countryItem.checked]">
                  <i class="radio_icon"></i>{{countryItem.name}}
                </label></li>
              </ul>
            </form>
            <div class="clear"></div>
          </div>
          <!-- 语言选项 -->
          <h2 class="set_h2 first" style="padding-left:15px;">
            {{'LANGUAGE_SWITCHING' | translate}}
          </h2>
          <div class="radio_box">
            <form>
              <ul id="radio_box1">
                <li ng-repeat="languageItem in languageItems"><input
                  type="radio" name="language" value="{{languageItem.value}}"
                  ng-checked="languageItem.checked" /> <label
                  ng-click="languageChangeClick($event)"
                  ng-class="{true: 'choice checked', false: 'choice'}[languageItem.checked]">
                  <i class="radio_icon"></i>{{languageItem.name}}
                </label></li>
              </ul>
            </form>
            <div class="clear"></div>
          </div>
          <div class="scr_foot">
            <button class="btn_qd" ng-click="languageSetSubmitClick($event)">{{'BUTTON_SUBMIT'
              | translate}}</button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!--设置结束-->
  </div>

</div>
