<div class="nav-menus" >
  <div class="title">
    <div class="wrap">
      <div class="logo">
        <a href="#/" title="{{'LOGO_TITLE' | translate}}"><img
          ng-src="{{'IMG_LOGO' | translate}}" /></a>
      </div>
    </div>
    <div class="nav_title">{{'nav_title' | translate}}</div>
    <dl class="head_r">
      <dd>
        <a class="lg_icons"  href="/language.html"></a>
      </dd>
    </dl>
  </div>
  <div class="left line nav-tab" id="nav-tab" >
    <a href="/index.html#/" id="nav3" class="nav_nav" ng-cloak>{{'nav_news' | translate}}</a>
    <a href="/live" id="nav1" class="nav_nav active" >{{'nav_football' | translate}}</a>
    <a href="/basket" id="nav2" class="nav_nav" ng-cloak>{{'nav_basketball' | translate}}</a>
    <a href="/odds" id="nav4" class="nav_nav" ng-cloak>{{'nav_odds' | translate}}</a>
    <!--<div style="clear:both" id="clear_f"></div>-->
    <a href="/data" id="nav5"  class="nav_nav" ng-cloak>{{'nav_data' | translate}}</a>
    <a href="/video" id="nav6"  class="nav_nav" ng-cloak>{{'nav_video' | translate}}</a>
    <a href="/kj" id="nav7"  class="nav_nav" ng-cloak>{{'nav_kj' | translate}}</a>
    <a href="/gjcp/thai.html" id="nav8"  class="nav_nav" ng-cloak>{{'nav_thcp' | translate}}</a>
  </div>
  <!--<div class="right">-->
    <!--<i class="nav_arrow nav_up  nav_down"></i>-->
  <!--</div>-->
</div>
